[submodule "crawler"]
	path = crawler
	url = https://github.com/PedroRossi/veegle-crawler
[submodule "classifier"]
	path = classifier
	url = https://github.com/PedroRossi/veegle-classifier.git
[submodule "extractor"]
	path = extractor
	url = https://github.com/PedroRossi/veegle-extractor.git
