[submodule "crawler"]
	path = crawler
	url = https://github.com/PedroRossi/veegle-crawler
[submodule "classifier"]
	path = classifier
	url = https://github.com/PedroRossi/veegle-classifier.git
[submodule "extractor"]
	path = extractor
	url = https://github.com/PedroRossi/veegle-extractor.git
[submodule "web"]
	path = web
	url = https://github.com/PedroRossi/veegle-web.git
[submodule "indexer"]
	path = indexer
	url = https://github.com/PedroRossi/veegle-indexer.git
[submodule "query"]
	path = query
	url = https://github.com/PedroRossi/veegle-query.git
